<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 추가설정 settings, typealiases -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.bs.spring.member.model.dto.Member" alias="member"/>
        <typeAlias type="com.bs.spring.common.StringToArray" alias="strToArr"/>
        <typeAlias type="com.bs.spring.board.model.dto.Board" alias="board"/>
    </typeAliases>
</configuration>