<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- spring bean등록하기
        bean태그 이용해서 등록
        속성
        id : 등록된 bean의 별칭(이름)
        class : 등록될 클래스의 패키지명.클래스명
    -->
    <!--<beans:bean></beans:bean>-->
    <bean id="p" class="com.bs.test.TestClass"/>
    <!-- 값을 대입해서 생성하기 -->
    <bean id="p2" class="com.bs.test.TestClass">
        <!--setter를 호출-->
        <property name="name" value="유병승"/>
        <property name="count" value="10"/>
    </bean>
</beans>












